<%- include('partials/header.ejs') %>
<div class="jumbotron">
    <h1>Earth</h1>
</div>
<div class="container">
    <p>
      Earth is our home planet and the third closest planet to the sun. Being smaller than Jupiter, Saturn, Uranus and Neptune, but larger than Mercury, Venus and Mars, Earth is the fifth largest planet in our solar system. Earth has a diameter of approximately 8000 miles. Earth is the only known planet that has an atmosphere, free oxygen, oceans of water on its surface and life. It takes Earth 23.934 hours to complete a rotation around its axis and 365.26 days to orbit around the sun.  
    </p>
    <p>
        <a href="https://www.space.com/54-earth-history-composition-and-atmosphere.html">Source</a>
    </p>
    <figure>
       <img src="/img/earth.jpg" alt="Earth" /> 
    </figure>
</div>
<%- include('partials/footer.ejs') %>