<%- include('partials/header.ejs') %>
<div class="jumbotron">
    <h1>Mercury</h1>
</div>
<div class="container">
    <p>
      Mercury is the planet closest to the sun, which means it circles around the sun faster than any other planet in our solar system. Mercury’s temperature can reach up to 840° F, since it is so close to the sun, but since Mercury doesn’t have an atmosphere, its temperature can drop down to -275° F. This temperature swing of 1100° F is the greatest temperature swing in the solar system. Being only slightly larger than Earth’s moon makes Mercury the smallest planet in our solar system.  
    </p>
    <p>
        <a href="https://www.space.com/36-mercury-the-suns-closest-planetary-neighbor.html">Source</a>
    </p>
    <figure>
        <img src="/img/mercury.png" alt="Mercury" />
    </figure>
</div>
<%- include('partials/footer.ejs') %>