<%- include('partials/header.ejs') %>
<div class="jumbotron">
    <h1>Venus</h1>
</div>
<div class="container">
    <p>
       Venus is the second closest planet to the sun and named after the Roman goddess of love and beauty. This makes Venus the only planet named after a female. The size of Venus is just slightly smaller than the size of Earth, which is why Venus and Earth are often called twins. Aside from their size, the mass, density, composition and gravity are similar to Earth as well, even though the mass of Venus is only about 890% of the mass of Earth. Venus is the hottest planet in our solar system. While it is not closest to the sun, the dense atmosphere of Venus traps heat similarly to the greenhouse effect that warms Earth. The temperatures at Venus reach about 880° F. 
    </p>
    <p>
        <a href="https://www.space.com/44-venus-second-planet-from-the-sun-brightest-planet-in-solar-system.html">Source</a>
    </p>
    <figure>
        <img src="/img/venus.jpg" alt="Venus" />
    </figure>
</div>
<%- include('partials/footer.ejs') %>