body{
    background-color:black;
    color:white;
    text-align:center;
    font-family:Helvetica;
    font-family: 'Titillium Web', sans-serif;
    font-size:20px;
}
a{
    color:#0CD7D1;
}
a:hover{
    color:white;
}
.jumbotron{
    background-color:black;
}
.error{
    color:red;
}
img{
      display: block;
  margin-left: auto;
  margin-right: auto;
}
nav > a{
  padding-left:30px;
  padding-right:30px;
}